html, body {
    font-family: 'Lato', sans-serif;
}

.title-logo {
    margin-top: 15px;
}

.title-logo img {
    border-radius: 50%;
}

.title-main {
    margin-top: 15px;
}

.title-main h1 {
    font-size: 5rem;
    font-weight: 100;
}

.title-main h4 {
    font-weight: 300;
}

.main-text {
    font-size: 2rem;
    line-height: 3.5rem;
}


.social-links a:link, .social-links a:hover, .social-links a:active, .social-links a:visited {
    text-decoration: none;
}

.social-links img {
    width: 32px;
    margin: 5px 6px 5px 6px;
}

.featured-heading {
    color: #666;
}

.project {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .project {
        text-align: center;
    }
}

.project h3 {
    margin: 7px 0 7px 0;
}
